*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(media1/bg121.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: transform 0.3s;
}
.btnLogin-popup:hover{
    background: #fff;
    color: #262626;
}
.herader-text{
    margin-top: 35%;
    font-size: 30ox;
}
.herader-text h1{
    font-size: 60px;
    margin-top: 20px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
}
.herader-text h3{
    text-transform: uppercase;
    letter-spacing: 4px;
}
.herader-text div{
    align-items: center;
    justify-content: center;
}
.flex{
    align-items: flex-end;
    justify-content: flex-end;
}
.social-links{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}
.social-links a{
    font-size: 30px;
    color: #fff;
    display: inline-block;
    margin-right: 15px;
    transition: transform 0.5s;
}
.social-links a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.herader-text h1 span{
    color:#ff004f;
}



/* ------------about-------------*/
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50px;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #ff004f;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}



/* -------------top apps------------ */
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px , 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-right: 10px;
    transition: background 0.5s,transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color:aqua;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}

/*-------------portfolio---------------*/
.title{
    padding-left: 0;
}
.title h1{
    font-size: 50px;
}
.portfolio-grid{
    grid-template-columns: repeat(3,1fr);
    display:grid;
    row-gap: 12px;
    column-gap: 12px;
}
.img-grid{
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 10%;
    margin-top: 10%;
}
.img-grid img{
    width: 100%;
    border-radius: 10px;
    display: block;
    left: 0;
    transition: transform 0.5s;  
}
.download-btn{
    display:block;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border: 1px solid royalblue;
    color: #fff;
    padding: 1rem 1rem;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 10px;
    transition:  0.5s ease-out;
    width: auto;
    margin: 30px 0px;
    padding: 5px;
    text-align: center;
    width: 80px;

}
.download-btn:hover{
    background: royalblue;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff004f;
}





/*------------nature shootout------------*/
.title1{
    /* padding-left: 10%; */
}
.title1 h1{
    font-size: 40px;
    text-align: center;
}
.portfolio-grid1{
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    display: grid;
    grid-gap: 40px;
    margin: 50px;
}
.img-grid1{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.img-grid1 img{
    width: 100%;
    border-radius: 10px;
    display: block;
    margin-bottom: 10%;
    transition: transform 0.5s;   
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0,6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.img-grid1:hover img{
   transform: scale(1.1); 
}
.img-grid1:hover .layer{
    height: 100%;
}
.btn1{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn1:hover{
    background: #ff004f;
}


/*---------------image slider--------------------*/
.title2{
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

* {box-sizing:border-box}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.mySlides {
  display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* filterable */
#about1{
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-3{
    flex-basis: 100%;
    /* text-align: center; */
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link1::after{
    width: 50px;
}
.tab-contents ul li span{
    color: #ff004f;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab1{
    display: block;
}
.tab-contents ul a img{
    height: 30%;
    width: 30%;
    padding: 10px;
}

/* gallary */
.wrapper{
    margin: 100px auto;
    max-width: 1100px;
}
.wrapper h1{
    text-align: center;
    text-transform: uppercase;
}
.gallary{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.gallary .image{
    padding: 7px;
    width: calc(100% / 4);
}
.gallary .image.hide{
    display: none;
}
.gallary .image.show{
    display: block;
}
.gallary .image span{
    display: flex;
    width: 100%;
    overflow: hidden;
}
.gallary .image img{
    width: 100%;
    vertical-align: middle;
    transition: all 0.3s ease;
}
.gallary .image:hover img{
    transform: scale(1.1);
}

@media(max-width:1000px){
    .gallary .image{
        width: calc(100% / 4);
    }
}
@media(max-width:800px){
    .gallary .image{
        width: calc(100% / 3);
    }
}
@media(max-width:600px){
    .gallary .image{
        width: 100%;
    }
}


/*-------------------contact----------*/
.contact-left{
    flex-basis: 35%;
    margin-top: 5%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left a{
    color: #5500ff;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left a{
    color: rgb(121, 121, 237);
    text-decoration: none;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30%;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color:#ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #080808;
    transition: transform 0.5s;
    color: #ffffff;
}
.btn.btn2:hover{
    background: #ff004f;
}
.contact-right form{
    width: 100%;
    margin-top: 5%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: #ff004f;
}



/*-------------- css for small screen---------*/
nav .fa-solid{
    display: none;
}
@media only screen and (max-width: 600px){
    #header{
        background-image: url(media1/grid\ 7.2.jpeg);
    }
    .herader-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .herader-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #c20f48;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    nav ul li a{
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        position: relative;
    }
    nav ul li a::after{
        content: '';
        width: 0;
        height: 3px;
        background: #ffffff;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
    }
    nav ul li a:hover::after{
        width: 100%;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1,.about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left,.contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
   
}

@media only screen and (max-width:630px){
    .download-btn{
        width: 50px;
        font-size: 7px;
        margin-left: 0px;
        padding: 0px;
    }
}



#span{
    color:#fff;
    margin-top: -2s0px;
    display: block;
}


/* chatbot */

.chatbot-toggler {
    position: fixed;
    bottom: 30px;
    right: 35px;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #724ae8;
    transition: all 0.2s ease;
}
body.show-chatbot .chatbot-toggler {
    transform: rotate(90deg);
}
.chatbot-toggler span {
    color: #fff;
    position: absolute;
}
.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child  {
    opacity: 0;
}
body.show-chatbot .chatbot-toggler span:last-child {
    opacity: 1;
}
.chatbot {
    position: fixed;
    right: 35px;
    bottom: 90px;
    width: 420px;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.5);
    transform-origin: bottom right;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
    transition: all 0.1s ease;
}
body.show-chatbot .chatbot {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}
.chatbot header {
    padding: 16px 0;
    position: relative;
    text-align: center;
    color: #fff;
    background: #724ae8;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.chatbot header span {
    position: absolute;
    right: 15px;
    top: 50%;
    display: none;
    cursor: pointer;
    transform: translateY(-50%);
}
header h2 {
    font-size: 1.4rem;
}
.chatbot .chatbox {
    overflow-y: auto;
    height: 510px;
    padding: 30px 20px 100px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
    width: 6px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 25px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}
.chatbox .chat {
    display: flex;
    list-style: none;
}
.chatbox .outgoing {
    margin: 20px 0;
    justify-content: flex-end;
}
.chatbox .incoming span {
    width: 32px;
    height: 32px;
    color: #fff;
    cursor: default;
    text-align: center;
    line-height: 32px;
    align-self: flex-end;
    background: #724ae8;
    border-radius: 4px;
    margin: 0 10px 7px 0;
}
.chatbox .chat p {
    white-space: pre-wrap;
    padding: 12px 16px;
    border-radius: 10px 10px 0 10px;
    max-width: 75%;
    color: #fff;
    font-size: 0.95rem;
    background: #724ae8;
}
.chatbox .incoming p {
    border-radius: 10px 10px 10px 0;
}
.chatbox .chat p.error {
    color: #721c24;
    background: #f8d7da;
}
.chatbox .incoming p {
    color: #000;
    background: #f2f2f2;
}
.chatbot .chat-input {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 3px 20px;
    border-top: 1px solid #ddd;
}
.chat-input textarea {
    height: 55px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    max-height: 180px;
    padding: 15px 15px 15px 0;
    font-size: 0.95rem;
}
.chat-input span {
    align-self: flex-end;
    color: #724ae8;
    cursor: pointer;
    height: 55px;
    display: flex;
    align-items: center;
    visibility: hidden;
    font-size: 1.35rem;
}
.chat-input textarea:valid ~ span {
    visibility: visible;
}
@media (max-width: 490px) {
    .chatbot-toggler {
      right: 20px;
      bottom: 20px;
    }
    .chatbot {
      right: 0;
      bottom: 0;
      height: 100%;
      border-radius: 0;
      width: 100%;
    }
    .chatbot .chatbox {
      height: 90%;
      padding: 25px 15px 100px;
    }
    .chatbot .chat-input {
      padding: 5px 15px;
    }
    .chatbot header span {
      display: block;
    }
}